<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ClaimTypesMapper">

    <select id="selectAll" resultType="com.example.entity.ClaimTypes">
        select
            ID as id,
            Cost_claims_year as costClaimsYear,
            N_claims_year as nClaimsYear,
            N_claims_history as nClaimsHistory,
            R_Claims_history as rClaimsHistory,
            Type_risk as typeRisk,
            Area as area
        from claim_record
        <where>
            <if test="id != null">and ID = #{id}</if>
            <if test="typeRisk != null">and Type_risk = #{typeRisk}</if>
            <if test="area != null">and Area = #{area}</if>
        </where>
        order by ID desc
    </select>

</mapper>
