<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.InsurPredMapper">

    <select id="selectAll" resultType="com.example.entity.InsurPred">
        select
            pred_id as predId,
            ID as id,
            claim_probability as claimProbability,
            claim_flag as claimFlag,
            risk_level as riskLevel,
            threshold_used as thresholdUsed,
            model_version as modelVersion,
            prediction_time as predictionTime
        from insur_pred
        <where>
            <if test="predId != null">and pred_id = #{predId}</if>
            <if test="id != null">and ID = #{id}</if>
            <if test="claimFlag != null">and claim_flag = #{claimFlag}</if>
            <if test="riskLevel != null and riskLevel != ''">and risk_level = #{riskLevel}</if>
        </where>
        order by pred_id desc
    </select>

</mapper>
